@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #092625;
}
h1{
    font-size: 6rem;
    font-family: "anta",sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ebfffc;
    margin-bottom: 40px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.search-bar .search-input{
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar .search-btn {
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}
.movie-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 50px;
}
.movie{
    background-color: white;
    padding: 20px;
    height: max-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.movie img{
  width: 100%;
  height: 45vh;
   margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 6px 15px -3px rgba(0, 0, 0, 0.1);
}
.movie h2{
 color: #092635;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}

.movie .rating{
    border :2px solid #092635;
    width: fit-content;
    padding: 5px 10px;
    font-weight: 600;
    color: #333;
}
.read-more{
    background-color: #092635;
    color: #f9f9f9;
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 7px;
}